<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Risky Cargo Highscores</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css"/>
</head>
<body>
    <div class="container">
        <h1 class="text-center mt-4 mb-4">Risky Cargo Highscores</h1>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Highscore</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for player_score in highscores %}
                        <tr>
                            <td>{{highscores.index(player_score) + 1}}</td>
                            <td>{{player_score['player']}}</td>
                            <td>{{player_score['highscore']}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        </div>
    </div>
</body>
</html>
